<mat-card>
  <mat-card-content>
    <mat-tab-group [(selectedIndex)]="TabIndex">
  <mat-tab label="Login">
        <form class="mt-2" [formGroup]="loginForm" (ngSubmit)="login()">
          <h2>Log In</h2>
          <mat-error *ngIf="loginInvalid">
            The username and password were not recognised
          </mat-error>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
  </mat-tab>

  <!-- Registration -->
  <mat-tab label="Registration">
      <app-registration></app-registration>
  </mat-tab>
</mat-tab-group>
</mat-card-content>
</mat-card>